<!DOCTYPE html>
<html>
<head>
	<title>Robots</title>
	
</head>
<body>

	<h1>Robots</h1>

	<ul>
		<% for(let i = 0; i < robotsObject.length; i++) {%>

			<li>
				<%=robotsObject[i].name%>
			</li>
			<li>
				<%=robotsObject[i].size%>
			</li>
			<li>
				<%=robotsObject[i].color%>
			</li>
				<br>

			<form action="/robots/<%=i%>?_method=DELETE" method="POST"> 
				<input type="submit" value="Delete"/>
			</form>


			<button> <a href="<%=`/robots/${i}/edit`%>">Edit</button></a>
			

		<%}%>
	</ul>


</body>
</html>